<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>

        <p><h1>Welcome to CloudBnB</h1>
        <a class="btn btn-primary" href="http://localhost:9292/login" role="button">Login</a>
        <form>
            <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input type="name" class="form-control" id="ExampleInputName1" aria-describedby="nameHelp" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="exampleInputUsername">Userame</label>
                <input type="username" class="form-control" id="ExampleInputUsername" aria-describedby="usernamenameHelp" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>