<h1>Feel at home, anywhere </h1>
<p>description of the page</p>
<p>Sign up to MakersBnB </p>
<div class="signup-form">

  <form method="POST" action="/register">
    <label for="firstname">First name</label>
    <input type="text" placeholder="First name" name="firstname" />
    <label for="password">Last name</label>
    <input type="text" placeholder="Last name" name="lastname" />
    <label for="email">Email</label>
    <input type="text" placeholder="Email address" name="email" />
    <label for="username">Username</label>
    <input type="text" placeholder="Username" name="username" />
    <label for="password">Password</label>
    <input type="password" placeholder="Password" name="password" />
    <input type="submit" name="Sign up!" />
  </form>
</div>