<h1 class="mast">Feel at home, anywhere</h1>
<p>description of the page</p>
<div class="space-container">

<% @spaces.each do |space| %>
 <div class="space-card"> <%= space["name"] %></div>
<% end %>
</div>