<!DOCTYPE html>
<html>
  <head>
    <title>CloudBnB</title>
    <link rel="stylesheet" href="/style.css" >
  </head>
  <body>
  
  <div class="header">

    <div class="nav"> sign_out<a href="/"></a></div>
    <div class="nav"> requests<a href="/requests"></a></div>
      
  </div>
  
  <div class="content">

  <h1>Book a Space </h1>
  <p>Hi, come in, take a look around! Here is a list of spaces available to book through Cloud bnb. See one you like? Click on the space to make a booking request. 
  </p>
  <div class="nav"> list a space<a href="/spaces/new"></a></div>

    <form method="GET/" action="spaces">  <!--missing params -->
      <label for="Available from DD/MM/YYYY"></label>
      <input type="text" placeholder="DD/MM/YYYY">
      <label for="Available to DD/MM/YYYY"></label>
      <input type="text" placeholder="DD/MM/YYYY">
      
      <input type="list spaces" name="List Spaces" />
    </form>
  </div>
  
  </body>
</html>